body{
    margin-bottom: 80px;
}

.page-header{
    margin-top: 0;

}

.panel-body {
    padding-top: 0;
}

.featureImg{
    margin-bottom: 15px;
}
.footer {
  margin-top: 20px; /* negative value of footer height */

} 

div.one{
	border: 1px solid #AAAAAA;
    float: left;
}
div.two {
    background-color: #DDDDDD;
    width: 200px;
    height: 300px;
    float: right;
}